@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --brand:#253982;
}
body{
    background-color: #FFFFFF;
}

/* navigasi */
nav {
    width: 100%;
    top: 15px;
    z-index: 99;
    @apply fixed flex justify-center;
}
nav div {
    border-radius: 15px;
    background: #253982;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 10px;
    @apply flex justify-center items-center;
}

nav div img {
    padding: 12px 60px 15px 60px;
    height: 80px;
    width: auto;
}

.all-container{
    position: relative;
    z-index: 1;
    top: 150px;
    bottom: 0;

}

footer {
    margin:30px 0px 30px;
}



.rumus {
    gap:100px;
}
.rumusnyaCont{
    @apply flex items-center flex-col;  
}
.rumusnyaCont > h1 {
    @apply text-4xl;
}
.rumusnyaCont .ket p{
    @apply text-center;
}
.rumusnya {
    background: var(--brand);
    border-radius: 16px;
    @apply text-white py-2 px-5 text-3xl my-2;
}


.isiKeterangan table td:nth-of-type(1) {
    @apply text-center;
    font-weight: 600;
    font-size: 20px;
}

.isiKeterangan table td:nth-of-type(2),.deretHtg-dik tr td:nth-of-type(2) {
    @apply px-2;
}
.contHitung .rumusJwb div tr td:nth-of-type(2) {
    @apply px-2;
}

.ket p {
    color:var(--brand)
}

.selectDeretHtg {
    width: 109px;
    height: 30px;
}

.cont-deretHitung > h1,
.cont-deretUkur > h1,
.cont-gabFungsi > h1 {
    @apply text-3xl font-bold;
}
/* .cont-deretUkur>h1,
.cont-gabFungsi>h1 {
    margin-top: 90px;
} */


.rumusnyaCont > h1{
    font-size:24px;
}
.rumusnyaCont .rumusnya {

    font-size: 24px;
} 
.rumusnyaCont .rumusnya {

    font-size: 24px;
}

.deretHtg-dik table tr td {
font-size: 18px;
}
.rumusJwb table tr td {
    font-size: 16px;
}
.deretHtg-dik tr td:nth-of-type(3) input{
    border-bottom: 1px dashed rgba(51, 51, 51, 0.488);
    width: 100px;

}
.deretHtg-dik tr td:nth-of-type(3) input:focus {
    outline:none;
}

.contHitung .rumusJwb table tr td:nth-of-type(1) span {
    @apply text-xs;
}


.contBoxWarning{
    width: 100%;
    height: 100vh;
    background-color: rgba(215, 11, 11, 0.147);
    @apply fixed top-0 left-0 items-center justify-center;
}

.box-warning{
    width: 250px;
    height: 168px;
    background: #FFFFFF;
    box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    @apply flex justify-center;
}
.box-warning .box {
    @apply flex items-center justify-center flex-col gap-2;
}
.box-warning .box button{
    padding: 2px 16px 2px 16px;
    border-radius: 4px;
    
}

.btnBrand {
    background-color: var(--brand);
    color: white;
    border-radius: 4px;
    @apply px-3 py-1;
}
.keterangan-deretHtg {
    color: var(--brand);
    opacity: .7;
}


.pilihRasio p {
    border-bottom: 2px solid var(--brand);
    color: var(--brand);
    cursor: pointer;
}


.rumusnya .signLine {
    border-bottom:solid 2px rgb(255, 255, 255);
}

.cont-gabFungsi .rumusnya table tr td, .tableJawaban tr td {
    @apply text-center;

}

.cont-gabFungsi table .samaDengan {
    @apply px-3 text-center ;
}

.tableJawaban .signLine, .jawaban.signLine,
.cont-rmsFungsi .rumusJwb table tr .lineKonstanta{
    border-bottom: solid 1px black;
}

.tableJawaban .signLine2{
    border-top: solid 1px black;
}

.tableJawaban .samaDengan {
    @apply px-2 align-middle;
}



.cont-rmsFungsi .rumusJwb table tr td {
    @apply text-center;
}
.cont-rmsFungsi .rumusJwb table tr td.tdSetup.right{
text-align: -webkit-right;
}
.cont-rmsFungsi .rumusJwb table tr:nth-child(n+5) td:nth-last-of-type(3) {
    @apply text-right;
}
.cont-rmsFungsi .rumusJwb table tr:nth-child(n+5):nth-child(-n+8) td:nth-last-of-type(1) {
    @apply text-left;
}
.cont-rmsFungsi .rumusJwb table tr:nth-child(10) td:nth-last-of-type(1),
.cont-rmsFungsi .rumusJwb table tr:nth-child(9) td:nth-last-of-type(1) {
    @apply text-center;
}

.cont-rmsFungsi .rumusJwb table tr:nth-child(11) td:nth-child(1){
    @apply text-right align-middle;
}
.cont-rmsFungsi .rumusJwb table tr:nth-child(11) td:nth-child(2) {
    @apply text-center align-middle;
}

.cont-rmsFungsi .rumusJwb table tr:nth-child(11) td:nth-child(3),
.cont-rmsFungsi .rumusJwb table tr:nth-child(12) td:nth-child(1) {
    @apply text-left align-middle;
}

.cont-rmsFungsi .rumusJwb table tr:nth-child(11) td.konstantaAda {
    @apply align-middle;
}


@media only screen and (max-width:830px) {
.rumus {
    gap: 20px;
    @apply flex-col;
}
.hitungnya{
    margin-top: 20px;
}
.rumusDanJawabannya {
    @apply flex-col;
}
.contHitung .rumusDanJawabannya .rumusJwb {
    @apply items-center justify-center;
}
.cont-rmsFungsi .rumusJwb {
    @apply items-center;
}
.kartesius {
@apply flex flex-col items-start;

}

}